/* screen - onboard-scan-for-allergens */
.image-pro{
  align-items: center;
  text-align: center;
  padding: 100px;

}





.onboard-scan-for-allergens {
  background-color: var(--white);
  height: 1366px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1024px;
}

.onboard-scan-for-allergens .path-1339-AixGwp {
  background-color: transparent;
  height: 1163px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 203px;
  width: 1024px;
}

.onboard-scan-for-allergens .rectangle-1336-AixGwp {
  background-color: var(--periwinkle-gray);
  height: 142px;
  left: -11px;
  position: absolute;
  top: -20px;
  width: 1048px;
}

.onboard-scan-for-allergens .rectangle-1335-AixGwp {
  background-color: var(--white);
  height: 103px;
  left: 0px;
  position: absolute;
  top: 610px;
  width: 1024px;
}

.onboard-scan-for-allergens .rectangle-5-AixGwp {
  background-color: var(--absolute-zero);
  border-radius: 5px;
  cursor: pointer;
  height: 54px;
  left: 745px;
  position: absolute;
  top: 635px;
  width: 248px;
}

.onboard-scan-for-allergens .view-summary-AixGwp {
  background-color: transparent;
  height: auto;
  left: 808px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 653px;
  white-space: nowrap;
  width: auto;
}

.onboard-scan-for-allergens .colombo-cmb-to-melbo-AixGwp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 640px;
  white-space: nowrap;
  width: auto;
}

.onboard-scan-for-allergens .span0-xplvpk {
}

.onboard-scan-for-allergens .span1-xplvpk {
  text-decoration: underline;
}

.onboard-scan-for-allergens .rectangle-4-AixGwp {
  background-color: var(--black);
  height: 2px;
  left: 625px;
  position: absolute;
  top: 66px;
  width: 114px;
}

.onboard-scan-for-allergens .getty_160539141_335403-AixGwp {
  background-color: transparent;
  height: 488px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 122px;
  width: 1024px;
}

.onboard-scan-for-allergens .group-10225-AixGwp {
  background-color: transparent;
  cursor: pointer;
  height: 70px;
  left: 68px;
  position: absolute;
  top: 759px;
  width: 720px;
}

.onboard-scan-for-allergens .group-10217-fi3po1 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.onboard-scan-for-allergens .scan-for-allergens-5f659O {
  background-color: transparent;
  height: 34px;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 8px;
  white-space: nowrap;
  width: 200px;
}

.onboard-scan-for-allergens .group-1305-5f659O {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 70px;
}

.onboard-scan-for-allergens .group-1303-cgxYcc {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.onboard-scan-for-allergens .path-739-JeY8hb {
  background-color: transparent;
  height: calc(100.00% + 21px);
  left: -14px;
  object-fit: cover;
  position: absolute;
  top: -15px;
  width: calc(100.00% + 21px);
}

.onboard-scan-for-allergens .scan-your-meal-to-de-5f659O {
  background-color: transparent;
  bottom: -1px;
  height: 26px;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 86px);
}

.onboard-scan-for-allergens .ic_center_focus_weak_24px-fi3po1 {
  background-color: transparent;
  bottom: calc(50.00% - 16px);
  height: 33px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  width: 33px;
}

.onboard-scan-for-allergens .ic_expand_more_24px-AixGwp {
  background-color: transparent;
  cursor: pointer;
  height: 7px;
  left: 359px;
  object-fit: cover;
  position: absolute;
  top: 778px;
  width: 12px;
}

.onboard-scan-for-allergens .group-10260-AixGwp {
  background-color: transparent;
  height: 66px;
  left: 33px;
  position: absolute;
  top: 33px;
  width: 972px;
}

.onboard-scan-for-allergens .group-10197-vk4XxN {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.onboard-scan-for-allergens .portfolio-h0mZEq {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(22.39% - 33px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: calc(35.71% - 9px);
  width: 146px;
}

.onboard-scan-for-allergens .about-me-h0mZEq {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(40.56% - 43px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: calc(35.71% - 9px);
  width: 107px;
}

.onboard-scan-for-allergens .my-blog-h0mZEq {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  right: calc(45.13% - 46px);
  text-align: left;
  top: 11px;
  width: 103px;
}

.onboard-scan-for-allergens .portfolio-X6xVal {
  background-color: transparent;
  height: 68px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 187px;
}

.onboard-scan-for-allergens .group-10019-h0mZEq {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  position: absolute;
  right: 0px;
  top: calc(25.00% - 6px);
  width: 120px;
}

.onboard-scan-for-allergens .social-fS8Z7r {
  background-color: transparent;
  bottom: calc(50.00% - 7px);
  height: 14px;
  position: absolute;
  right: 0px;
  width: 37px;
}

.onboard-scan-for-allergens .x043-twitter-uPY1tA {
  background-color: transparent;
  height: calc(100.00% - 3px);
  left: 0px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.onboard-scan-for-allergens .vector-wcK84e {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.onboard-scan-for-allergens .x045-linkedin-uPY1tA {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 14px;
}

.onboard-scan-for-allergens .vector-qVn9wv {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.onboard-scan-for-allergens .group-10018-fS8Z7r {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 68px;
}

.onboard-scan-for-allergens .reviews-AJ22cd {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}

.onboard-scan-for-allergens .ic_person_outline_24px-AJ22cd {
  background-color: transparent;
  height: 16px;
  object-fit: cover;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 16px;
}

.onboard-scan-for-allergens .about-me-X6xVal {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  right: calc(29.72% - 36px);
  text-align: left;
  top: calc(26.19% - 6px);
  width: 120px;
}

.onboard-scan-for-allergens .portfolio-vk4XxN {
  background-color: transparent;
  bottom: -2px;
  height: 24px;
  left: 114px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  width: 43px;
}

.onboard-scan-for-allergens .ic_expand_more_24px-63xu64 {
  background-color: transparent;
  cursor: pointer;
  height: 7px;
  left: 950px;
  object-fit: cover;
  position: absolute;
  top: 662px;
  width: 12px;
}
