/* screen - airplate-book-a-flight */
html, body {margin: 0; height: 100%; overflow: hidden}
.airplate-book-a-flight {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  transform:scaleX(70%) translateX(-21%) scaleY(60%) translateY(-35%);
}

.airplate-book-a-flight .natali-quijano-n79-m-ysd2-ce4-unsplash-dtY7o9 {
  background-color: transparent;
  height: calc(100.00% + 18px);
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: -9px;
  width: 823px;
}

.airplate-book-a-flight .decore-dtY7o9 {
  background-color: transparent;
  height: calc(100.00% + 310px);
  left: -162px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: calc(100.00% + 388px);
}

.airplate-book-a-flight .ellipse-8-dtY7o9 {
  background-color: var(--periwinkle-gray);
  border-radius: 239.47px/248.43px;
  filter: blur(50px);;
  height: 497px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 75px;
  width: 479px;
}

.airplate-book-a-flight .rectangle-1336-dtY7o9 {
  background-color: var(--periwinkle-gray);
  height: 143px;
  left: -15px;
  position: absolute;
  top: -21px;
  width: calc(100.00% + 15px);
}

.airplate-book-a-flight .portfolio-dtY7o9 {
  background-color: transparent;
  cursor: pointer;
  height: 68px;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 187px;
}

.airplate-book-a-flight .rectangle-4-dtY7o9 {
  background-color: var(--black);
  height: 2px;
  left: calc(16.94% - 19px);
  position: absolute;
  top: 97px;
  width: 114px;
}

.airplate-book-a-flight .portfolio-41eJ5t {
  background-color: transparent;
  height: 24px;
  left: calc(16.69% - 24px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 146px;
}

.airplate-book-a-flight .about-me-dtY7o9 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(25.48% - 27px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 107px;
}

.airplate-book-a-flight .my-blog-dtY7o9 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(31.96% - 26px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 80px;
}

.airplate-book-a-flight .reviews-dtY7o9 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(37.19% - 26px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 70px;
}

.airplate-book-a-flight .group-10011-dtY7o9 {
  background-color: transparent;
  height: 54px;
  right: 41px;
  object-fit: cover;
  position: absolute;
  top: calc(16.76% - 9px);
  width: 273px;
}

.airplate-book-a-flight .group-10199-dtY7o9 {
  background-color: transparent;
  bottom: 81px;
  height: 806px;
  left: 111px;
  position: absolute;
  width: 634px;
}

.airplate-book-a-flight .manage-your-booking-xOxWqs {
  background-color: transparent;
  height: 34px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4px;
  white-space: nowrap;
  width: 237px;
}

.airplate-book-a-flight .group-10001-xOxWqs {
  background-color: transparent;
  height: 54px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 56px;
  width: 273px;
}

.airplate-book-a-flight .last-name-xOxWqs {
  background-color: transparent;
  height: 22px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 60px;
  white-space: nowrap;
  width: 75px;
}

.airplate-book-a-flight .jones-xOxWqs {
  background-color: transparent;
  height: 26px;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 81px;
  white-space: nowrap;
  width: 51px;
}

.airplate-book-a-flight .group-10008-xOxWqs {
  background-color: transparent;
  height: 54px;
  object-fit: cover;
  position: absolute;
  right: 41px;
  top: 56px;
  width: 273px;
}

.airplate-book-a-flight .airline-xOxWqs {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  right: calc(44.58% - 20px);
  text-align: left;
  top: 60px;
  white-space: nowrap;
  width: 44px;
}

.airplate-book-a-flight .sri-lankan-airlines-xOxWqs {
  background-color: transparent;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(25.41% - 38px);
  text-align: left;
  top: 81px;
  white-space: nowrap;
  width: 150px;
}

.airplate-book-a-flight .group-10017-xOxWqs {
  background-color: transparent;
  bottom: 0px;
  height: 459px;
  left: 2px;
  position: absolute;
  width: calc(100.00% - 2px);
}

.airplate-book-a-flight .rectangle-1330-vVDoR6 {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.airplate-book-a-flight .tailor-your-experience-vVDoR6 {
  background-color: transparent;
  height: 34px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: 244px;
}

.airplate-book-a-flight .we-hope-to-bring-peo-vVDoR6 {
  background-color: transparent;
  height: 363px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 15px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 98px;
  width: calc(100.00% - 26px);
}

.airplate-book-a-flight .group-10016-xOxWqs {
  background-color: transparent;
  cursor: pointer;
  height: 54px;
  left: calc(47.93% - 119px);
  position: absolute;
  top: calc(29.52% - 16px);
  width: 248px;
}

.airplate-book-a-flight .rectangle-5-0ZptKe {
  background-color: var(--absolute-zero);
  border-radius: 5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.airplate-book-a-flight .retrieve-booking-0ZptKe {
  background-color: var(--absolute-zero);
  bottom: calc(35.71% - 9px);
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(49.07% - 69px);
  text-align: center;
  white-space: nowrap;
  width: 140px;
}

.airplate-book-a-flight .group-10010-xOxWqs {
  background-color: transparent;
  height: 54px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: calc(16.76% - 9px);
  width: 273px;
}

.airplate-book-a-flight .flight-number-xOxWqs {
  background-color: transparent;
  height: 22px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 130px;
  white-space: nowrap;
  width: 96px;
}

.airplate-book-a-flight .ul314-xOxWqs {
  background-color: transparent;
  height: 26px;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: calc(19.36% - 5px);
  white-space: nowrap;
  width: 55px;
}

.airplate-book-a-flight .booking-reference-xOxWqs {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  right: calc(35.38% - 45px);
  text-align: left;
  top: 130px;
  white-space: nowrap;
  width: 128px;
}

.airplate-book-a-flight .aek2123-xOxWqs {
  background-color: transparent;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(35.19% - 27px);
  text-align: left;
  top: calc(19.36% - 5px);
  white-space: nowrap;
  width: 77px;
}

.airplate-book-a-flight .group-10019-dtY7o9 {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: 99px;
  top: 71px;
  width: 204px;
}

.airplate-book-a-flight .reviews-IXO4b1 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  right: calc(37.48% - 26px);
  text-align: left;
  top: 0px;
  width: 70px;
}

.airplate-book-a-flight .social-IXO4b1 {
  background-color: transparent;
  bottom: calc(50.00% - 7px);
  height: 14px;
  position: absolute;
  right: 0px;
  width: 37px;
}

.airplate-book-a-flight .x043-twitter-h3uxgk {
  background-color: transparent;
  height: calc(100.00% - 3px);
  left: 0px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.airplate-book-a-flight .vector-Mrslzu {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.airplate-book-a-flight .x045-linkedin-h3uxgk {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 14px;
}

.airplate-book-a-flight .vector-Q7Bxf4 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.airplate-book-a-flight .group-10018-IXO4b1 {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 68px;
}

.airplate-book-a-flight .reviews-EsPYb6 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}

.airplate-book-a-flight .ic_person_outline_24px-EsPYb6 {
  background-color: transparent;
  height: 16px;
  object-fit: cover;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 16px;
}

.airplate-book-a-flight .ellipse-8-41eJ5t {
  background-color: var(--periwinkle-gray);
  border-radius: 239.47px/248.43px;
  filter: blur(50px);;
  height: 497px;
  left: 547px;
  opacity: 0.3;
  position: absolute;
  top: 237px;
  width: 479px;
}
