/* screen - airplate-home */

.airplate-home {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  transform:scaleX(70%) translateX(-21%) scaleY(60%) translateY(-35%);
  
}

.airplate-home .transparentCover {
  background-color: transparent;
  height: calc(100.00% + 310px);
  left: -162px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: calc(100.00% + 388px);
}

.airplate-home .shadedCircle {
  background-color: var(--periwinkle-gray);
  border-radius: 239.47px/248.43px;
  filter: blur(50px);;
  height: 497px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 75px;
  width: 479px;
}

.airplate-home .DecorRight {
  background-color: transparent;
  height: calc(100.00% - 207px);
  object-fit: cover;
  position: absolute;
  right: -41px;
  top: -123px;
  width: 766px;
}

.airplate-home .AirplateLogo {
  background-color: transparent;
  height: 68px;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 187px;
}

.airplate-home .shadedCircle2 {
  background-color: transparent;
  height: calc(100.00% - 283px);
  left: 331px;
  object-fit: cover;
  position: absolute;
  top: 103px;
  width: calc(100.00% - 1141px);
}

.airplate-home .imageModel {
  background-color: transparent;
  height: calc(100.00% - 186px);
  left: 950px;
  position: absolute;
  top: 186px;
  width: calc(100.00% - 1155px);
}

.airplate-home .aeroImg {
  background-color: transparent;
  height: 72px;
  position: absolute;
  right: 11px;
  top: 47px;
  width: 112px;
}

.airplate-home .group-90d85x {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.airplate-home .vector-k8qDGY {
  background-color: transparent;
  bottom: calc(40.02% - 4px);
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: calc(37.40% - 4px);
  width: 11px;
}

.airplate-home .vector-0CpLl6 {
  background-color: transparent;
  height: 7px;
  object-fit: cover;
  position: absolute;
  right: calc(44.65% - 4px);
  top: 11px;
  width: 8px;
}

.airplate-home .vector-bSckLQ {
  background-color: transparent;
  height: 14px;
  object-fit: cover;
  position: absolute;
  right: calc(45.25% - 14px);
  top: calc(20.46% - 3px);
  width: 31px;
}

.airplate-home .vector-Sy8slx {
  background-color: transparent;
  height: 55px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 14px);
}

.airplate-home .vector-lzinys {
  background-color: transparent;
  bottom: 0px;
  height: 54px;
  object-fit: cover;
  position: absolute;
  right: calc(38.54% - 19px);
  width: 50px;
}

.airplate-home .vector-Ij3Wsf {
  background-color: transparent;
  bottom: calc(36.97% - 5px);
  height: 15px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 26px;
}

.airplate-home .vector-pE8OO3 {
  background-color: transparent;
  bottom: 9px;
  height: 15px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  width: 14px;
}

.airplate-home .vector-gCRmPg {
  background-color: transparent;
  height: 6px;
  object-fit: cover;
  position: absolute;
  right: 4px;
  top: 1px;
  width: 9px;
}

.airplate-home .vector-F1CfJ7 {
  background-color: transparent;
  height: 11px;
  object-fit: cover;
  position: absolute;
  right: 14px;
  top: 6px;
  width: 10px;
}

.airplate-home .group-k8qDGY {
  background-color: transparent;
  height: 31px;
  object-fit: cover;
  position: absolute;
  right: calc(38.13% - 18px);
  top: calc(30.30% - 9px);
  width: 48px;
}

.airplate-home .traveller-1-WV3kLt {
  background-color: transparent;
  height: calc(100.00% - 130px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 130px;
  width: 100%;
}

.airplate-home .plane-2Pha66 {
  background-color: transparent;
  height: 72px;
  left: calc(24.16% - 27px);
  position: absolute;
  top: 0px;
  width: 112px;
}

.airplate-home .group-oioWmL {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.airplate-home .vector-A8nLg2 {
  background-color: transparent;
  bottom: calc(40.02% - 4px);
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: calc(37.40% - 4px);
  width: 11px;
}

.airplate-home .vector-auXZsw {
  background-color: transparent;
  height: 7px;
  object-fit: cover;
  position: absolute;
  right: calc(44.65% - 4px);
  top: 11px;
  width: 8px;
}

.airplate-home .vector-oyz2Ay {
  background-color: transparent;
  height: 14px;
  object-fit: cover;
  position: absolute;
  right: calc(45.25% - 14px);
  top: calc(20.46% - 3px);
  width: 31px;
}

.airplate-home .vector-oOszPh {
  background-color: transparent;
  height: 55px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 14px);
}

.airplate-home .vector-g47AID {
  background-color: transparent;
  bottom: 0px;
  height: 54px;
  object-fit: cover;
  position: absolute;
  right: calc(38.54% - 19px);
  width: 50px;
}

.airplate-home .vector-NjlxIu {
  background-color: transparent;
  bottom: calc(36.97% - 5px);
  height: 15px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 26px;
}

.airplate-home .vector-0dGGzT {
  background-color: transparent;
  bottom: 9px;
  height: 15px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  width: 14px;
}

.airplate-home .vector-TZGYD9 {
  background-color: transparent;
  height: 6px;
  object-fit: cover;
  position: absolute;
  right: 4px;
  top: 1px;
  width: 9px;
}

.airplate-home .vector-TkO3x0 {
  background-color: transparent;
  height: 11px;
  object-fit: cover;
  position: absolute;
  right: 14px;
  top: 6px;
  width: 10px;
}

.airplate-home .group-A8nLg2 {
  background-color: transparent;
  height: 31px;
  object-fit: cover;
  position: absolute;
  right: calc(38.13% - 18px);
  top: calc(30.30% - 9px);
  width: 48px;
}

.airplate-home .main-text-efkb8P {
  background-color: transparent;
  height: 388px;
  left: 166px;
  position: absolute;
  top: calc(47.54% - 184px);
  width: 520px;
}

.airplate-home .descriptons-luRNNq {
  background-color: transparent;
  bottom: calc(34.12% - 31px);
  color: #505050;
  font-family: var(--font-family-googlesans-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: 92px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 20px);
}

.airplate-home .heading-luRNNq {
  background-color: transparent;
  color: var(--absolute-zero);
  font-family: var(--font-family-abhayalibre_extrabold-regular);
  font-size: 168px;
  font-style: normal;
  font-weight: 400;
  height: 205px;
  left: 0px;
  letter-spacing: -5.86px;
  line-height: 168px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}

.airplate-home .button-luRNNq {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  height: 60px;
  left: 9px;
  position: absolute;
  width: 319px;
}

.airplate-home .rectangle-7-YVWbLp {
  background-color: var(--white);
  border: 1px solid #c4c4c4;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 62px);
}

.airplate-home .schedule-a-call-YVWbLp {
  background-color: transparent;
  bottom: calc(42.42% - 11px);
  color: #2a2a2a;
  font-family: var(--font-family-sofiapro-semibold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  height: 27px;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 23px);
}

.airplate-home .portfolio-8IoiK7 {
  background-color: transparent;
  height: 24px;
  left: calc(16.69% - 24px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 146px;
}

.airplate-home .about-me-efkb8P {
  background-color: transparent;
  height: 24px;
  left: calc(25.48% - 27px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 107px;
}

.airplate-home .my-blog-efkb8P {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(31.96% - 26px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 80px;
}

.airplate-home .reviews-efkb8P {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(37.19% - 26px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 70px;
}

.airplate-home .group-10019-efkb8P {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: 99px;
  top: 71px;
  width: 204px;
}

.airplate-home .reviews-FWwy3v {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  right: calc(37.48% - 26px);
  text-align: left;
  top: 0px;
  width: 70px;
}

.airplate-home .social-FWwy3v {
  background-color: transparent;
  bottom: calc(50.00% - 7px);
  height: 14px;
  position: absolute;
  right: 0px;
  width: 37px;
}

.airplate-home .x043-twitter-nb3ALt {
  background-color: transparent;
  height: calc(100.00% - 3px);
  left: 0px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.airplate-home .vector-v59yhO {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.airplate-home .x045-linkedin-nb3ALt {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 14px;
}

.airplate-home .vector-C78sb5 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.airplate-home .group-10018-FWwy3v {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 68px;
}

.airplate-home .reviews-l15Vxs {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}

.airplate-home .ic_person_outline_24px-l15Vxs {
  background-color: transparent;
  height: 16px;
  object-fit: cover;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 16px;
}
