/* screen - onboard-login-1 */

.onboard-login-1 {
  background-color: var(--white);
  height: 1366px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1024px;
}

.onboard-login-1 .decore-138xQV {
  background-color: transparent;
  height: 873px;
  left: 313px;
  object-fit: cover;
  position: absolute;
  top: -144px;
  width: 766px;
}

.onboard-login-1 .group-10197-138xQV {
  background-color: transparent;
  height: 66px;
  left: 33px;
  position: absolute;
  top: 33px;
  width: 972px;
}

.onboard-login-1 .portfolio-4IcU1T {
  background-color: transparent;
  height: 24px;
  left: calc(22.39% - 33px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: calc(35.71% - 9px);
  width: 146px;
}

.onboard-login-1 .about-me-4IcU1T {
  background-color: transparent;
  height: 24px;
  left: calc(40.56% - 43px);
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: calc(35.71% - 9px);
  width: 107px;
}

.onboard-login-1 .my-blog-4IcU1T {
  background-color: transparent;
  height: 53px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  right: calc(45.13% - 46px);
  text-align: left;
  top: 11px;
  width: 103px;
}

.onboard-login-1 .portfolio-EJswSk {
  background-color: transparent;
  cursor: pointer;
  height: 68px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 187px;
}

.onboard-login-1 .group-10019-4IcU1T {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: 0px;
  top: calc(25.00% - 6px);
  width: 118px;
}

.onboard-login-1 .social-4jJA9K {
  background-color: transparent;
  bottom: calc(50.00% - 7px);
  height: 14px;
  position: absolute;
  right: 0px;
  width: 37px;
}

.onboard-login-1 .x043-twitter-H0bf7K {
  background-color: transparent;
  height: calc(100.00% - 3px);
  left: 0px;
  position: absolute;
  top: 1px;
  width: 14px;
}

.onboard-login-1 .vector-nfTbYD {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.onboard-login-1 .x045-linkedin-H0bf7K {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 14px;
}

.onboard-login-1 .vector-a0XqmZ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.onboard-login-1 .group-10018-4jJA9K {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 68px;
}

.onboard-login-1 .reviews-1cGU1T {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}

.onboard-login-1 .ic_person_outline_24px-1cGU1T {
  background-color: transparent;
  height: 16px;
  object-fit: cover;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 16px;
}

.onboard-login-1 .about-me-EJswSk {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  right: calc(29.72% - 36px);
  text-align: left;
  top: calc(26.19% - 6px);
  width: 120px;
}

.onboard-login-1 .portfolio-gvoSxx {
  background-color: transparent;
  bottom: -2px;
  height: 24px;
  left: 114px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  width: 43px;
}

.onboard-login-1 .decore-askBb1 {
  background-color: transparent;
  height: 1390px;
  left: -270px;
  object-fit: cover;
  position: absolute;
  top: 391px;
  width: 2308px;
}

.onboard-login-1 .group-10198-138xQV {
  background-color: transparent;
  height: 699px;
  left: 277px;
  position: absolute;
  top: 334px;
  width: 471px;
}

.onboard-login-1 .rectangle-10-Fhv63v {
  background-color: var(--periwinkle-gray);
  border-radius: 20px;
  box-shadow: 20px 20px 20px #00000029;
  height: calc(100.00% + 3px);
  left: -2px;
  position: absolute;
  top: -2px;
  width: calc(100.00% + 3px);
}

.onboard-login-1 .group-15-Fhv63v {
  background-color: transparent;
  height: calc(100.00% - 181px);
  left: 34px;
  position: absolute;
  top: 89px;
  width: calc(100.00% - 69px);
}

.onboard-login-1 .rectangle-5-bWuUSc {
  background-color: var(--absolute-zero);
  border-radius: 5px;
  bottom: 38px;
  cursor: pointer;
  height: 54px;
  left: 4px;
  position: absolute;
  width: calc(100.00% - 4px);
}

.onboard-login-1 .forgot-password-bWuUSc {
  background-color: transparent;
  bottom: -5px;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(48.82% - 72px);
  text-align: center;
  white-space: nowrap;
  width: 148px;
}

.onboard-login-1 .sign-in-bWuUSc {
  background-color: transparent;
  height: 34px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 4px;
  white-space: nowrap;
  width: 78px;
}

.onboard-login-1 .sign-in-MA0YRq {
  background-color: transparent;
  bottom: 70px;
  left: 150px;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(49.13% - 28px);
  text-align: center;
  white-space: nowrap;
  width: 58px;
}

.onboard-login-1 .email-address-bWuUSc {
  background-color: transparent;
  height: 26px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: calc(39.63% - 10px);
  white-space: nowrap;
  width: 119px;
}

.onboard-login-1 .group-1-bWuUSc {
  background-color: transparent;
  bottom: calc(50.00% - 27px);
  height: 54px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 4px);
}

.onboard-login-1 .adamsmithgmailcom-bWuUSc {
  background-color: transparent;
  bottom: calc(49.39% - 13px);
  height: 26px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 193px;
}

.onboard-login-1 .group-4-bWuUSc {
  background-color: transparent;
  height: 54px;
  left: 4px;
  position: absolute;
  top: 76px;
  width: calc(100.00% - 4px);
}

.onboard-login-1 .group-3-VzAzSt {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.onboard-login-1 .rectangle-6-Y2rhix {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 2px 6px #0000001a;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.onboard-login-1 .sign-in-with-google-Y2rhix {
  background-color: transparent;
  bottom: calc(39.29% - 10px);
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(49.58% - 78px);
  text-align: center;
  white-space: nowrap;
  width: 158px;
}

.onboard-login-1 .google__g__-logo-VzAzSt {
  background-color: transparent;
  bottom: calc(49.87% - 10px);
  height: 20px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  width: 20px;
}

.onboard-login-1 .or-bWuUSc {
  background-color: transparent;
  color: #e0e0e0;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(49.87% - 8px);
  text-align: left;
  top: calc(30.81% - 7px);
  white-space: nowrap;
  width: 17px;
}

.onboard-login-1 .line-1-bWuUSc {
  background-color: transparent;
  height: 1px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 31.24%;
  width: 173px;
}

.onboard-login-1 .line-2-bWuUSc {
  background-color: transparent;
  height: 1px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 31.24%;
  width: 173px;
}

.onboard-login-1 .ellipse-6-bWuUSc {
  background-color: var(--log-cabin);
  border-radius: 4px;
  bottom: calc(28.82% - 2px);
  height: 8px;
  left: 68px;
  position: absolute;
  width: 8px;
}

.onboard-login-1 .password-bWuUSc {
  background-color: transparent;
  bottom: calc(38.41% - 10px);
  height: 26px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 82px;
}

.onboard-login-1 .group-10-bWuUSc {
  background-color: transparent;
  bottom: calc(26.72% - 14px);
  height: 54px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 4px);
}

.onboard-login-1 .ellipse-10-bWuUSc {
  background-color: var(--log-cabin);
  border-radius: 4px;
  bottom: calc(28.82% - 2px);
  height: 8px;
  left: calc(23.35% - 2px);
  position: absolute;
  width: 8px;
}

.onboard-login-1 .ellipse-9-bWuUSc {
  background-color: var(--log-cabin);
  border-radius: 4px;
  bottom: calc(28.82% - 2px);
  height: 8px;
  left: calc(26.40% - 2px);
  position: absolute;
  width: 8px;
}

.onboard-login-1 .ellipse-5-bWuUSc {
  background-color: var(--log-cabin);
  border-radius: 4px;
  bottom: calc(28.82% - 2px);
  height: 8px;
  left: calc(20.30% - 2px);
  position: absolute;
  width: 8px;
}

.onboard-login-1 .ellipse-8-bWuUSc {
  background-color: var(--log-cabin);
  border-radius: 4px;
  bottom: calc(28.82% - 2px);
  height: 8px;
  left: calc(29.44% - 2px);
  position: absolute;
  width: 8px;
}

.onboard-login-1 .ellipse-11-bWuUSc {
  background-color: var(--log-cabin);
  border-radius: 4px;
  bottom: calc(28.82% - 2px);
  height: 8px;
  left: 43px;
  position: absolute;
  width: 8px;
}

.onboard-login-1 .ellipse-12-bWuUSc {
  background-color: var(--log-cabin);
  border-radius: 4px;
  bottom: calc(28.82% - 2px);
  height: 8px;
  left: 55px;
  position: absolute;
  width: 8px;
}

.onboard-login-1 .ellipse-13-bWuUSc {
  background-color: var(--log-cabin);
  border-radius: 4px;
  bottom: calc(28.82% - 2px);
  height: 8px;
  left: 31px;
  position: absolute;
  width: 8px;
}

.onboard-login-1 .ellipse-14-bWuUSc {
  background-color: var(--log-cabin);
  border-radius: 4px;
  bottom: calc(28.82% - 2px);
  height: 8px;
  left: 67px;
  position: absolute;
  width: 8px;
}

.onboard-login-1 .icon-visibility-filled-bWuUSc {
  background-color: transparent;
  bottom: calc(28.14% - 7px);
  height: 24px;
  opacity: 0.5;
  position: absolute;
  right: 13px;
  width: 24px;
}

.onboard-login-1 .path-988-KUumuI {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: calc(100.00% - 2px);
}
