/* screen - homepage */

.homepage {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1366px;
  overflow: hidden;
  width: 1024px;
}

.homepage .overlap-group2 {
  height: 1552px;
  margin-left: 21px;
  margin-top: -144.0px;
  position: relative;
  width: 1560px;
}

.homepage .decore {
  height: 1097px;
  left: 474px;
  object-fit: cover;
  position: absolute;
  top: 455px;
  width: 1085px;
}

.homepage .decore-1 {
  height: 873px;
  left: 292px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 766px;
}

.homepage .image {
  align-items: flex-start;
  display: flex;
  height: 1036px;
  left: 107px;
  min-width: 896px;
  position: absolute;
  top: 507px;
}

.homepage .plane {
  display: flex;
  height: 72px;
  margin-top: 200.08px;
  width: 112px;
}

.homepage .group-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 112.05px;
}

.homepage .overlap-group {
  height: 72px;
  margin-bottom: 0;
  position: relative;
  width: 112px;
}

.homepage .vector {
  height: 9px;
  left: 63px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 11px;
}

.homepage .vector-1 {
  height: 7px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 8px;
}

.homepage .vector-2 {
  height: 14px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 31px;
}

.homepage .vector-3 {
  height: 55px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 98px;
}

.homepage .vector-4 {
  height: 54px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 50px;
}

.homepage .vector-5 {
  height: 15px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 26px;
}

.homepage .vector-6 {
  height: 15px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 14px;
}

.homepage .vector-7 {
  height: 6px;
  left: 99px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 9px;
}

.homepage .vector-8 {
  height: 11px;
  left: 88px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 10px;
}

.homepage .group {
  height: 31px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 48px;
}

.homepage .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 1036px;
  width: 765px;
}

.homepage .plane-1 {
  display: flex;
  height: 72px;
  margin-right: 162.18px;
  width: 112px;
}

.homepage .group-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 112.05px;
  padding: 0.0px 0;
}

.homepage .overlap-group-1 {
  height: 72px;
  position: relative;
  width: 112px;
}

.homepage .traveller-1 {
  height: 764px;
  margin-top: 200px;
  object-fit: cover;
  width: 765px;
}

.homepage .overlap-group1 {
  height: 293px;
  left: 0;
  position: absolute;
  top: 436px;
  width: 522px;
}

.homepage .descriptons {
  color: #505050;
  font-family: var(--font-family-googlesans-regular);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  height: 92px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 168px;
  width: 500px;
}

.homepage .heading {
  color: var(--absolute-zero);
  font-family: var(--font-family-abhayalibre_extrabold-regular);
  font-size: 168px;
  font-weight: 400;
  height: 205px;
  left: 0;
  letter-spacing: -5.86px;
  line-height: 168px;
  position: absolute;
  top: 0;
  width: 522px;
}

.homepage .button {
  align-items: flex-end;
  background-color: blue;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 0;
  min-width: 139px;
  padding: 15px 20px;
  position: absolute;
  top: 233px;
}

.homepage .schedule-a-call {
  color: var(--white);
  font-family: var(--font-family-sofiapro-semibold);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  height: 27px;
  letter-spacing: 0;
  line-height: 20px;
  width: 97px;
}
