/* screen - onboard-menu-select-item-1 */

.onboard-menu-select-item-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1366px;
  overflow: hidden;
  width: 1024px;
}

.onboard-menu-select-item-1 .overlap-group15 {
  background-color: var(--periwinkle-gray);
  height: 142px;
  margin-left: -11px;
  margin-top: -20px;
  position: relative;
  width: 1048px;
}

.onboard-menu-select-item-1 .rectangle-4 {
  background-color: var(--black);
  height: 2px;
  left: 386px;
  position: absolute;
  top: 93px;
  width: 114px;
}

.onboard-menu-select-item-1 .group-10197 {
  align-items: center;
  display: flex;
  height: 67px;
  left: 44px;
  min-width: 972px;
  position: absolute;
  top: 53px;
}

.onboard-menu-select-item-1 .portfolio-container {
  align-self: flex-end;
  height: 69px;
  margin-bottom: -2px;
  position: relative;
  width: 331px;
}

.onboard-menu-select-item-1 .portfolio {
  cursor: pointer;
  height: 24px;
  left: 185px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 15px;
  width: 146px;
}

.onboard-menu-select-item-1 .portfolio-1 {
  cursor: pointer;
  height: 68px;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  width: 187px;
}

.onboard-menu-select-item-1 .portfolio-2 {
  height: 24px;
  left: 46px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 45px;
  width: 111px;
}

.onboard-menu-select-item-1 .about-me {
  height: 24px;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: 13.0px;
  margin-left: 20px;
  width: 107px;
}

.onboard-menu-select-item-1 .my-blog {
  align-self: flex-end;
  cursor: pointer;
  height: 53px;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: 3px;
  margin-left: 19px;
  width: 103px;
}

.onboard-menu-select-item-1 .about-me-1 {
  cursor: pointer;
  height: 24px;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: 21.0px;
  margin-left: 19px;
  width: 120px;
}

.onboard-menu-select-item-1 .group-10019 {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  height: 22px;
  justify-content: space-between;
  margin-left: 129px;
  margin-top: 11px;
  width: 124px;
}

.onboard-menu-select-item-1 .group-10018 {
  align-items: flex-end;
  display: flex;
  min-width: 70px;
}

.onboard-menu-select-item-1 .overlap-group-4 {
  height: 24px;
  margin-bottom: -2px;
  position: relative;
  width: 70px;
}

.onboard-menu-select-item-1 .reviews {
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 0;
  width: 70px;
}

.onboard-menu-select-item-1 .ic_person_outline_24px {
  height: 16px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 16px;
}

.onboard-menu-select-item-1 .social {
  display: flex;
  height: 14.27px;
  justify-content: space-between;
  margin-bottom: -7.1px;
  margin-right: 0;
  width: 37.35px;
}

.onboard-menu-select-item-1 .x043-twitter {
  background-image: url(../img/vector-18@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 1.3px;
  margin-left: 0;
  margin-top: 1.3px;
  width: 14.27px;
}

.onboard-menu-select-item-1 .x045-linkedin {
  background-image: url(../img/vector-19@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 0;
  width: 14.27px;
}

.onboard-menu-select-item-1 .group-container {
  background-image: url(../img/path-1339-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1244px;
  position: relative;
  width: 1024px;
}

.onboard-menu-select-item-1 .group-10203 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 14px;
  min-height: 1193px;
  position: absolute;
  top: 26px;
  width: 1010px;
}

.onboard-menu-select-item-1 .flex-row {
  align-items: center;
  display: flex;
  margin-left: 5.96px;
  min-width: 589px;
}

.onboard-menu-select-item-1 .our-meals {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 4.0px;
  min-height: 33px;
  min-width: 133px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10060 {
  align-items: center;
  display: flex;
  margin-left: 28px;
  min-width: 429px;
}

.onboard-menu-select-item-1 .search-container {
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 370px;
  padding: 11.5px 18.9px;
}

.onboard-menu-select-item-1 .search-by-name {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 15px;
  min-height: 22px;
  min-width: 109px;
  opacity: 0.75;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .ic_search_white {
  height: 21px;
  margin-left: 193px;
  margin-top: 1.08px;
  object-fit: cover;
  width: 21px;
}

.onboard-menu-select-item-1 .path-container-1 {
  align-items: flex-end;
  background-image: url(../img/path-914-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  margin-top: 0.23px;
  min-height: 49px;
  padding: 14.5px 12.5px;
  width: 49px;
}

.onboard-menu-select-item-1 .path-714 {
  height: 5px;
  object-fit: cover;
  width: 24px;
}

.onboard-menu-select-item-1 .path-71 {
  height: 5px;
  margin-top: 3px;
  object-fit: cover;
  width: 24px;
}

.onboard-menu-select-item-1 .scroll-group-8::-webkit-scrollbar {
  display: none;
  width: 0;
}

.onboard-menu-select-item-1 .scroll-group-8 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  margin-right: 0.15px;
  margin-top: 30px;
  min-width: 1005px;
  overflow-x: scroll;
}

.onboard-menu-select-item-1 .overlap-group8 {
  align-items: flex-end;
  background-color: var(--periwinkle-gray);
  border-radius: 28px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-bottom: 0;
  min-width: 98px;
  padding: 4.1px 16.5px;
}

.onboard-menu-select-item-1 .all-170 {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 22px;
  min-width: 60px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .overlap-group3 {
  align-items: center;
  background-color: var(--periwinkle-gray);
  border-radius: 28px;
  display: flex;
  height: 35px;
  margin-bottom: 0;
  margin-left: 19px;
  min-width: 162px;
  padding: 4.1px 17.4px;
}

.onboard-menu-select-item-1 .path-container-2 {
  height: 19px;
  margin-top: 0.86px;
  position: relative;
  width: 19px;
}

.onboard-menu-select-item-1 .path-720 {
  height: 7px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 8px;
}

.onboard-menu-select-item-1 .path-721 {
  height: 5px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 3px;
}

.onboard-menu-select-item-1 .path-722 {
  height: 7px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 14px;
}

.onboard-menu-select-item-1 .path-723 {
  height: 5px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 2px;
}

.onboard-menu-select-item-1 .path-724 {
  height: 7px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 19px;
}

.onboard-menu-select-item-1 .path-725 {
  height: 15px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 19px;
}

.onboard-menu-select-item-1 .path-726 {
  height: 4px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 9px;
}

.onboard-menu-select-item-1 .breakfast-25 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 8px;
  min-height: 22px;
  min-width: 97px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .overlap-group7 {
  align-items: center;
  background-color: var(--periwinkle-gray);
  border-radius: 18px;
  display: flex;
  height: 35px;
  margin-bottom: 0;
  margin-left: 20px;
  min-width: 136px;
  padding: 4.1px 12.8px;
}

.onboard-menu-select-item-1 .group-842 {
  align-items: flex-start;
  display: flex;
  height: 23px;
  margin-bottom: 0.79px;
  min-width: 27px;
}

.onboard-menu-select-item-1 .path-container-3 {
  height: 24px;
  margin-left: -1px;
  margin-top: -0.5px;
  position: relative;
  width: 21px;
}

.onboard-menu-select-item-1 .path-740 {
  height: 18px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 18px;
}

.onboard-menu-select-item-1 .path-741 {
  height: 9px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 9px;
}

.onboard-menu-select-item-1 .path-742 {
  height: 7px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}

.onboard-menu-select-item-1 .path-743 {
  height: 24px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 21px;
}

.onboard-menu-select-item-1 .overlap-group-5 {
  align-items: flex-start;
  align-self: center;
  background-image: url(../img/path-744-19@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 21px;
  justify-content: flex-end;
  margin-top: 0.93px;
  min-width: 7px;
  padding: 1.3px 1.2px;
}

.onboard-menu-select-item-1 .path-745 {
  height: 4px;
  object-fit: cover;
  width: 3px;
}

.onboard-menu-select-item-1 .lunch-28 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 8px;
  min-height: 22px;
  min-width: 73px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .overlap-group5 {
  align-items: center;
  background-color: var(--periwinkle-gray);
  border-radius: 18px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-left: 19px;
  min-width: 136px;
  padding: 2.8px 7.4px;
}

.onboard-menu-select-item-1 .overlap-group2 {
  height: 21px;
  margin-top: 2.66px;
  position: relative;
  width: 25px;
}

.onboard-menu-select-item-1 .path {
  height: 8px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 19px;
}

.onboard-menu-select-item-1 .path-1 {
  height: 6px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 19px;
}

.onboard-menu-select-item-1 .path-2 {
  height: 7px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 20px;
}

.onboard-menu-select-item-1 .path-3 {
  height: 9px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 25px;
}

.onboard-menu-select-item-1 .path-4 {
  height: 8px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 22px;
}

.onboard-menu-select-item-1 .group {
  align-items: flex-start;
  display: flex;
  height: 2px;
  justify-content: flex-end;
  left: 9px;
  min-width: 7px;
  position: absolute;
  top: 3px;
}

.onboard-menu-select-item-1 .line {
  height: 1px;
  margin-top: -0.5px;
  object-fit: cover;
  width: 1px;
}

.onboard-menu-select-item-1 .line-1 {
  align-self: flex-end;
  height: 1px;
  margin-bottom: -0.5px;
  margin-left: 1px;
  object-fit: cover;
  width: 1px;
}

.onboard-menu-select-item-1 .line-2 {
  height: 1px;
  margin-left: 1px;
  margin-top: -0.5px;
  object-fit: cover;
  width: 1px;
}

.onboard-menu-select-item-1 .snacks-30 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 9px;
  min-height: 22px;
  min-width: 81px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .overlap-group9 {
  align-items: center;
  background-color: var(--periwinkle-gray);
  border-radius: 18px;
  display: flex;
  height: 35px;
  margin-bottom: 0;
  margin-left: 20px;
  min-width: 149px;
  padding: 4.1px 16.8px;
}

.onboard-menu-select-item-1 .peanut {
  height: 20px;
  margin-top: 0.19px;
  object-fit: cover;
  width: 20px;
}

.onboard-menu-select-item-1 .allergens {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 12px;
  min-height: 22px;
  min-width: 64px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .ic_expand_more_24px {
  height: 7px;
  margin-bottom: 0.79px;
  margin-left: 7px;
  object-fit: cover;
  width: 12px;
}

.onboard-menu-select-item-1 .overlap-group6 {
  align-items: center;
  background-color: var(--periwinkle-gray);
  border-radius: 18px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-left: 19px;
  min-width: 149px;
  padding: 4.1px 12.7px;
}

.onboard-menu-select-item-1 .icon_catergoria {
  height: 21px;
  margin-bottom: 0.37px;
  object-fit: cover;
  width: 22px;
}

.onboard-menu-select-item-1 .meal-type {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 11px;
  min-height: 22px;
  min-width: 71px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .ic_expand_more_24px-1 {
  height: 7px;
  margin-bottom: 0;
  margin-left: 5px;
  object-fit: cover;
  width: 12px;
}

.onboard-menu-select-item-1 .overlap-group4 {
  align-items: center;
  align-self: flex-start;
  background-color: var(--periwinkle-gray);
  border-radius: 18px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-left: 23px;
  min-width: 165px;
  padding: 3.5px 12.8px;
}

.onboard-menu-select-item-1 .ic_grade_24px {
  height: 21px;
  margin-bottom: 2.26px;
  object-fit: cover;
  width: 22px;
}

.onboard-menu-select-item-1 .my-preferences {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 10px;
  min-height: 22px;
  min-width: 106px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .overlap-group12 {
  height: 1066px;
  margin-top: 12px;
  position: relative;
  width: 1010px;
}

.onboard-menu-select-item-1 .path-1415 {
  height: 1px;
  left: 148px;
  object-fit: cover;
  position: absolute;
  top: 333px;
  width: 552px;
}

.onboard-menu-select-item-1 .path-container-4 {
  height: 19px;
  left: 734px;
  position: absolute;
  top: 146px;
  width: 19px;
}

.onboard-menu-select-item-1 .scroll-group-7::-webkit-scrollbar {
  display: none;
  width: 0;
}

.onboard-menu-select-item-1 .scroll-group-7 {
  align-items: flex-end;
  display: flex;
  height: 1066px;
  left: 0;
  min-width: 1010px;
  overflow-y: scroll;
  position: absolute;
  top: 0;
}

.onboard-menu-select-item-1 .group-10180 {
  display: flex;
  height: 1328px;
  margin-bottom: -262px;
  width: 1010px;
}

.onboard-menu-select-item-1 .group-10181 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 1010.45px;
}

.onboard-menu-select-item-1 .overlap-group7-1 {
  height: 1328px;
  position: relative;
  width: 1010px;
}

.onboard-menu-select-item-1 .line-28 {
  height: 3px;
  left: 305px;
  object-fit: cover;
  position: absolute;
  top: 650px;
  width: 394px;
}

.onboard-menu-select-item-1 .scroll-group-5::-webkit-scrollbar {
  display: none;
  width: 0;
}

.onboard-menu-select-item-1 .scroll-group-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1328px;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 1010px;
}

.onboard-menu-select-item-1 .scroll-group-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.onboard-menu-select-item-1 .scroll-group-1 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-left: 6.91px;
  min-width: 985px;
  overflow-x: scroll;
}

.onboard-menu-select-item-1 .overlap-group4-1 {
  height: 262px;
  position: relative;
  width: 3088px;
}

.onboard-menu-select-item-1 .rectangle {
  height: 109px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 153px;
  width: 327px;
}

.onboard-menu-select-item-1 .sri-lankan-kiribath {
  left: 19px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .address {
  left: 107px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 185px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-850 {
  background-color: var(--shiraz);
  border-radius: 16px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  left: 17px;
  position: absolute;
  top: 117px;
  width: 32px;
}

.onboard-menu-select-item-1 .symbol-96 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.4px;
  margin-right: 4.2px;
  margin-top: 3.6px;
  width: 23px;
}

.onboard-menu-select-item-1 .path-5 {
  flex: 1;
  height: 15.48px;
  margin-bottom: 3.4px;
  margin-left: 2.5px;
  margin-right: 3.1px;
  object-fit: cover;
}

.onboard-menu-select-item-1 .group-856 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 20px;
  min-width: 77px;
  padding: 2.0px 12.3px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .sri-lankan {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 52px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .mask-group-6 {
  height: 154px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1355px;
}

.onboard-menu-select-item-1 .path-6 {
  height: 15px;
  left: 292px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 17px;
}

.onboard-menu-select-item-1 .group-1 {
  align-items: flex-end;
  display: flex;
  height: 13px;
  justify-content: flex-end;
  left: 20px;
  min-width: 75px;
  padding: 0.0px 0.0px;
  position: absolute;
  top: 197px;
}

.onboard-menu-select-item-1 .icon-awesome-star {
  height: 13px;
  object-fit: cover;
  width: 13px;
}

.onboard-menu-select-item-1 .icon-awesome-star-1 {
  height: 13px;
  margin-left: 2px;
  object-fit: cover;
  width: 13px;
}

.onboard-menu-select-item-1 .group-876 {
  background-color: var(--absolute-zero);
  border-radius: 17.5px/17px;
  height: 34px;
  left: 19px;
  position: absolute;
  top: 114px;
  width: 35px;
}

.onboard-menu-select-item-1 .rectangle-1 {
  height: 109px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 153px;
  width: 327px;
}

.onboard-menu-select-item-1 .sri-lankan-special {
  left: 365px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .address-1 {
  left: 453px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 185px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-850-1 {
  background-color: var(--shiraz);
  border-radius: 16px;
  display: flex;
  height: 31px;
  left: 363px;
  position: absolute;
  top: 117px;
  width: 32px;
}

.onboard-menu-select-item-1 .symbol-96-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-bottom: 3.4px;
  margin-left: 4.8px;
  margin-right: 4.7px;
  margin-top: 3.6px;
  width: 23px;
}

.onboard-menu-select-item-1 .path-7 {
  flex: 1;
  height: 15.48px;
  margin-bottom: 3.4px;
  margin-left: 3.0px;
  margin-right: 2.6px;
  object-fit: cover;
}

.onboard-menu-select-item-1 .group-856-1 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 366px;
  min-width: 76px;
  padding: 2.0px 10.9px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .mask-group-6-1 {
  height: 154px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1355px;
}

.onboard-menu-select-item-1 .path-27 {
  height: 17px;
  left: 638px;
  object-fit: cover;
  position: absolute;
  top: 167px;
  width: 18px;
}

.onboard-menu-select-item-1 .group-2 {
  align-items: flex-end;
  display: flex;
  height: 13px;
  justify-content: flex-end;
  left: 366px;
  min-width: 75px;
  padding: 0.0px 0;
  position: absolute;
  top: 197px;
}

.onboard-menu-select-item-1 .group-875 {
  align-items: flex-end;
  background-color: var(--absolute-zero);
  border-radius: 17.5px/17px;
  display: flex;
  height: 34px;
  left: 368px;
  min-width: 35px;
  padding: 7.2px 5.9px;
  position: absolute;
  top: 114px;
}

.onboard-menu-select-item-1 .group-3 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  min-width: 23px;
}

.onboard-menu-select-item-1 .path-container {
  height: 20px;
  margin-left: -1px;
  margin-top: -0.5px;
  position: relative;
  width: 18px;
}

.onboard-menu-select-item-1 .path-8 {
  height: 15px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 15px;
}

.onboard-menu-select-item-1 .path-9 {
  height: 8px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 8px;
}

.onboard-menu-select-item-1 .path-10 {
  height: 6px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 6px;
}

.onboard-menu-select-item-1 .path-11 {
  height: 20px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 18px;
}

.onboard-menu-select-item-1 .overlap-group {
  align-items: flex-start;
  align-self: center;
  background-image: url(../img/path-1360-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 17px;
  justify-content: flex-end;
  margin-top: 0.78px;
  min-width: 6px;
  padding: 1.1px 1.0px;
}

.onboard-menu-select-item-1 .path-12 {
  height: 3px;
  object-fit: cover;
  width: 2px;
}

.onboard-menu-select-item-1 .rectangle-2 {
  height: 109px;
  left: 693px;
  object-fit: cover;
  position: absolute;
  top: 153px;
  width: 327px;
}

.onboard-menu-select-item-1 .maslenitca {
  left: 712px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .address-2 {
  left: 800px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 185px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-850-2 {
  background-color: var(--shiraz);
  border-radius: 16px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  left: 710px;
  position: absolute;
  top: 117px;
  width: 32px;
}

.onboard-menu-select-item-1 .symbol-96-2 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.4px;
  margin-right: 4.1px;
  margin-top: 3.6px;
  width: 23px;
}

.onboard-menu-select-item-1 .path-13 {
  flex: 1;
  height: 15.48px;
  margin-bottom: 3.4px;
  margin-left: 2.4px;
  margin-right: 3.1px;
  object-fit: cover;
}

.onboard-menu-select-item-1 .group-856-2 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 713px;
  min-width: 64px;
  padding: 2.0px 11.4px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .russian {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 39px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .mask-group-6-2 {
  height: 154px;
  left: 693px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1355px;
}

.onboard-menu-select-item-1 .path-28 {
  height: 15px;
  left: 985px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 17px;
}

.onboard-menu-select-item-1 .group-4 {
  align-items: flex-end;
  display: flex;
  height: 13px;
  justify-content: flex-end;
  left: 712px;
  min-width: 75px;
  padding: 0.0px 0;
  position: absolute;
  top: 197px;
}

.onboard-menu-select-item-1 .group-874 {
  background-color: var(--absolute-zero);
  border-radius: 17px;
  height: 34px;
  left: 711px;
  position: absolute;
  top: 114px;
  width: 34px;
}

.onboard-menu-select-item-1 .rectangle-1-1 {
  height: 109px;
  left: 1039px;
  object-fit: cover;
  position: absolute;
  top: 153px;
  width: 327px;
}

.onboard-menu-select-item-1 .pakistani-chicken-platter {
  left: 1058px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .address-3 {
  left: 1146px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 185px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10043 {
  background-color: var(--shiraz);
  border-radius: 16px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  left: 1056px;
  position: absolute;
  top: 117px;
  width: 32px;
}

.onboard-menu-select-item-1 .group-10045 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 1059px;
  min-width: 57px;
  padding: 2.0px 12.3px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .indian {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 32px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10046 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 1125px;
  min-width: 69px;
  padding: 2.0px 12.5px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .pakistani {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 44px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .mask-group-6-3 {
  height: 154px;
  left: 1039px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1355px;
}

.onboard-menu-select-item-1 .path-14 {
  height: 15px;
  left: 1331px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 17px;
}

.onboard-menu-select-item-1 .group-10 {
  align-items: flex-end;
  display: flex;
  height: 13px;
  justify-content: flex-end;
  left: 1059px;
  min-width: 75px;
  padding: 0.0px 0;
  position: absolute;
  top: 197px;
}

.onboard-menu-select-item-1 .group-10048 {
  align-items: center;
  display: flex;
  height: 34px;
  left: 717px;
  min-width: 376px;
  position: absolute;
  top: 114px;
}

.onboard-menu-select-item-1 .group-10183 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  margin-top: 0.09px;
  min-width: 23px;
}

.onboard-menu-select-item-1 .overlap-group-6 {
  align-items: flex-start;
  align-self: center;
  background-image: url(../img/path-744-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 17px;
  justify-content: flex-end;
  margin-top: 0.78px;
  min-width: 6px;
  padding: 1.1px 1.0px;
}

.onboard-menu-select-item-1 .overlap-group-container {
  align-items: center;
  background-color: var(--absolute-zero);
  border-radius: 17.5px/17px;
  display: flex;
  height: 34px;
  margin-left: 319px;
  min-width: 35px;
  padding: 6.7px 5.0px;
}

.onboard-menu-select-item-1 .path-container-5 {
  align-self: flex-end;
  height: 20px;
  position: relative;
  width: 18px;
}

.onboard-menu-select-item-1 .overlap-group-7 {
  align-items: flex-start;
  background-image: url(../img/path-1360-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 17px;
  justify-content: flex-end;
  margin-top: 0.87px;
  min-width: 6px;
  padding: 1.1px 1.0px;
}

.onboard-menu-select-item-1 .rectangle-1-2 {
  height: 109px;
  left: 1386px;
  object-fit: cover;
  position: absolute;
  top: 153px;
  width: 327px;
}

.onboard-menu-select-item-1 .risotto {
  left: 1405px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .address-4 {
  left: 1492px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 185px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10049 {
  background-color: var(--shiraz);
  border-radius: 16px;
  display: flex;
  height: 31px;
  left: 1403px;
  position: absolute;
  top: 117px;
  width: 32px;
}

.onboard-menu-select-item-1 .group-10051 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 1406px;
  min-width: 57px;
  padding: 2.0px 12.9px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .italian {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 31px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10052 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 1471px;
  min-width: 69px;
  padding: 2.0px 13.1px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .eurpeon {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 43px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .mask-group-6-4 {
  height: 154px;
  left: 1386px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1355px;
}

.onboard-menu-select-item-1 .path-29 {
  height: 17px;
  left: 1677px;
  object-fit: cover;
  position: absolute;
  top: 167px;
  width: 18px;
}

.onboard-menu-select-item-1 .group-10-1 {
  align-items: flex-end;
  display: flex;
  height: 13px;
  justify-content: flex-end;
  left: 1405px;
  min-width: 75px;
  padding: 0.0px 0;
  position: absolute;
  top: 197px;
}

.onboard-menu-select-item-1 .group-10054 {
  align-items: flex-end;
  background-color: var(--absolute-zero);
  border-radius: 17.5px/17px;
  display: flex;
  height: 34px;
  left: 1407px;
  min-width: 35px;
  padding: 7.2px 5.9px;
  position: absolute;
  top: 114px;
}

.onboard-menu-select-item-1 .group-860 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  justify-content: flex-end;
  min-width: 23px;
}

.onboard-menu-select-item-1 .path-container-6 {
  height: 20px;
  margin-top: -0.5px;
  position: relative;
  width: 18px;
}

.onboard-menu-select-item-1 .rectangle-1-3 {
  height: 109px;
  left: 1732px;
  object-fit: cover;
  position: absolute;
  top: 153px;
  width: 327px;
}

.onboard-menu-select-item-1 .maslenitca-1 {
  left: 1751px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10055 {
  background-color: var(--shiraz);
  border-radius: 16px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  left: 1749px;
  position: absolute;
  top: 117px;
  width: 32px;
}

.onboard-menu-select-item-1 .group-10057 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 1752px;
  min-width: 64px;
  padding: 2.0px 11.4px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .mask-group-6-5 {
  height: 154px;
  left: 1732px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1355px;
}

.onboard-menu-select-item-1 .group-10-2 {
  align-items: flex-end;
  display: flex;
  height: 13px;
  justify-content: flex-end;
  left: 1752px;
  min-width: 75px;
  padding: 0.0px 0;
  position: absolute;
  top: 197px;
}

.onboard-menu-select-item-1 .group-10059 {
  background-color: var(--absolute-zero);
  border-radius: 17px;
  display: flex;
  height: 34px;
  left: 1750px;
  position: absolute;
  top: 114px;
  width: 34px;
}

.onboard-menu-select-item-1 .group-864 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  height: 22.97px;
  justify-content: center;
  margin-left: 3.4px;
  margin-right: 3.6px;
  margin-top: 2.7px;
  min-width: calc(100.00% - 7px);
}

.onboard-menu-select-item-1 .overlap-group-8 {
  height: 24px;
  margin-top: -0.63px;
  position: relative;
  width: 28px;
}

.onboard-menu-select-item-1 .path-732 {
  height: 7px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 17px;
}

.onboard-menu-select-item-1 .path-733 {
  height: 11px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 18px;
}

.onboard-menu-select-item-1 .path-734 {
  height: 7px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 6px;
}

.onboard-menu-select-item-1 .line-8 {
  height: 5px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 1px;
}

.onboard-menu-select-item-1 .path-735 {
  height: 7px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 6px;
}

.onboard-menu-select-item-1 .path-736 {
  height: 4px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 4px;
}

.onboard-menu-select-item-1 .path-737 {
  height: 4px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2px;
}

.onboard-menu-select-item-1 .path-738 {
  height: 2px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 21px;
}

.onboard-menu-select-item-1 .path-739 {
  height: 6px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 28px;
}

.onboard-menu-select-item-1 .address-5 {
  left: 1839px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 185px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .path-30 {
  height: 15px;
  left: 2024px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 17px;
}

.onboard-menu-select-item-1 .group-10130 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 104px;
  min-width: 69px;
  padding: 2.0px 12.5px;
  position: absolute;
  top: 224px;
}

.onboard-menu-select-item-1 .nut-free {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 43px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10131 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 181px;
  min-width: 69px;
  padding: 2.0px 11.9px;
  position: absolute;
  top: 224px;
}

.onboard-menu-select-item-1 .non-veg {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 45px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10133 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 446px;
  min-width: 69px;
  padding: 2.0px 11.3px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .group-10134 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 785px;
  min-width: 64px;
  padding: 2.0px 9.3px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .nut-free-1 {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 43px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10186 {
  align-items: flex-start;
  background-color: var(--absolute-zero);
  border-radius: 17.5px/17px;
  display: flex;
  height: 34px;
  justify-content: flex-end;
  left: 283px;
  min-width: 35px;
  padding: 10.3px 8.7px;
  position: absolute;
  top: 6px;
}

.onboard-menu-select-item-1 .ic_done_24px {
  height: 13px;
  object-fit: cover;
  width: 18px;
}

.onboard-menu-select-item-1 .group-10187 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 858px;
  min-width: 64px;
  padding: 2.0px 11.4px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .vegan {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 32px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .top-picks {
  letter-spacing: 0;
  line-height: 23px;
  margin-left: 15.96px;
  margin-top: 34px;
  min-height: 33px;
  min-width: 116px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10129 {
  align-self: flex-end;
  display: flex;
  height: 262px;
  margin-right: 0.36px;
  margin-top: 27px;
  width: 994px;
}

.onboard-menu-select-item-1 .group-10178 {
  display: flex;
  flex: 1;
  width: 994.14px;
}

.onboard-menu-select-item-1 .scroll-group-2::-webkit-scrollbar {
  display: none;
  width: 0;
}

.onboard-menu-select-item-1 .scroll-group-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  height: 262px;
  min-width: 100%;
  overflow-x: scroll;
}

.onboard-menu-select-item-1 .overlap-group-1 {
  height: 262px;
  margin-top: 0;
  position: relative;
  width: 3088px;
}

.onboard-menu-select-item-1 .moussaka {
  left: 19px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-5 {
  background-color: var(--shiraz);
  border-radius: 16px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  left: 17px;
  position: absolute;
  top: 118px;
  width: 32px;
}

.onboard-menu-select-item-1 .symbol-96-3 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.5px;
  margin-right: 4.2px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .path-15 {
  flex: 1;
  height: 15.48px;
  margin-bottom: 3.2px;
  margin-left: 2.5px;
  margin-right: 3.1px;
  object-fit: cover;
}

.onboard-menu-select-item-1 .group-6 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 20px;
  min-width: 57px;
  padding: 2.2px 12.3px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .group-7 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 85px;
  min-width: 57px;
  padding: 2.2px 12.5px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .greek {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 30px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-877 {
  align-items: flex-start;
  background-image: url(../img/path-1414-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 42px;
  justify-content: flex-end;
  left: 16px;
  min-width: 42px;
  padding: 10.6px 8.4px;
  position: absolute;
  top: 111px;
}

.onboard-menu-select-item-1 .group-8 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  justify-content: center;
  min-width: 24px;
}

.onboard-menu-select-item-1 .overlap-group-2 {
  height: 21px;
  margin-top: -0.5px;
  position: relative;
  width: 25px;
}

.onboard-menu-select-item-1 .capachino {
  left: 365px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-9 {
  background-color: var(--shiraz);
  border-radius: 16px;
  display: flex;
  height: 31px;
  left: 363px;
  position: absolute;
  top: 118px;
  width: 32px;
}

.onboard-menu-select-item-1 .symbol-96-4 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-bottom: 3.5px;
  margin-left: 4.8px;
  margin-right: 4.7px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .path-16 {
  flex: 1;
  height: 15.48px;
  margin-bottom: 3.2px;
  margin-left: 3.0px;
  margin-right: 2.6px;
  object-fit: cover;
}

.onboard-menu-select-item-1 .group-11 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 366px;
  min-width: 71px;
  padding: 2.2px 10.5px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .american {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 48px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-12 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 451px;
  min-width: 69px;
  padding: 2.2px 12.7px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .eurpeon-1 {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 43px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .path-17 {
  height: 15px;
  left: 638px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 17px;
}

.onboard-menu-select-item-1 .group-13 {
  background-color: var(--absolute-zero);
  border-radius: 17.5px;
  display: flex;
  height: 35px;
  left: 368px;
  position: absolute;
  top: 114px;
  width: 35px;
}

.onboard-menu-select-item-1 .group-14 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  height: 20.32px;
  justify-content: flex-end;
  margin-left: 9.0px;
  margin-right: 9.0px;
  margin-top: 6.5px;
  min-width: calc(100.00% - 18px);
  transform: rotate(-30.00deg);
}

.onboard-menu-select-item-1 .overlap-group-3 {
  height: 35px;
  margin-top: -8.33px;
  position: relative;
  width: 23px;
}

.onboard-menu-select-item-1 .path-18 {
  height: 14px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  transform: rotate(30.00deg);
  width: 19px;
}

.onboard-menu-select-item-1 .path-19 {
  height: 8px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  transform: rotate(30.00deg);
  width: 8px;
}

.onboard-menu-select-item-1 .path-20 {
  height: 8px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  transform: rotate(30.00deg);
  width: 8px;
}

.onboard-menu-select-item-1 .line-3 {
  height: 6px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  transform: rotate(30.00deg);
  width: 4px;
}

.onboard-menu-select-item-1 .path-21 {
  height: 12px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  transform: rotate(30.00deg);
  width: 15px;
}

.onboard-menu-select-item-1 .line-4 {
  height: 6px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  transform: rotate(30.00deg);
  width: 4px;
}

.onboard-menu-select-item-1 .path-22 {
  height: 11px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  transform: rotate(30.00deg);
  width: 10px;
}

.onboard-menu-select-item-1 .arabic-mandi {
  left: 712px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-15 {
  background-color: var(--shiraz);
  border-radius: 16px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  left: 710px;
  position: absolute;
  top: 118px;
  width: 32px;
}

.onboard-menu-select-item-1 .symbol-96-5 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.5px;
  margin-right: 4.1px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .path-23 {
  flex: 1;
  height: 15.48px;
  margin-bottom: 3.2px;
  margin-left: 2.4px;
  margin-right: 3.1px;
  object-fit: cover;
}

.onboard-menu-select-item-1 .group-16 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 713px;
  min-width: 56px;
  padding: 2.2px 11.4px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .arabic {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 33px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-17 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 780px;
  min-width: 64px;
  padding: 2.2px 13.1px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .turkish {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 37px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .path-24 {
  height: 17px;
  left: 984px;
  object-fit: cover;
  position: absolute;
  top: 167px;
  width: 18px;
}

.onboard-menu-select-item-1 .group-18 {
  align-items: flex-start;
  background-color: var(--absolute-zero);
  border-radius: 17.5px;
  display: flex;
  height: 35px;
  left: 709px;
  min-width: 35px;
  padding: 7.4px 5.5px;
  position: absolute;
  top: 114px;
}

.onboard-menu-select-item-1 .moussaka-1 {
  left: 1058px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10-3 {
  background-color: var(--shiraz);
  border-radius: 16px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  left: 1056px;
  position: absolute;
  top: 118px;
  width: 32px;
}

.onboard-menu-select-item-1 .symbol-96-6 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.5px;
  margin-right: 4.2px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .group-10-4 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 1059px;
  min-width: 57px;
  padding: 2.2px 12.3px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .group-10-5 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 1125px;
  min-width: 57px;
  padding: 2.2px 12.5px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .group-10-6 {
  align-items: flex-start;
  background-color: var(--absolute-zero);
  border-radius: 17.5px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  left: 1058px;
  min-width: 35px;
  padding: 7.3px 5.2px;
  position: absolute;
  top: 114px;
}

.onboard-menu-select-item-1 .capachino-1 {
  left: 1405px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10-7 {
  background-color: var(--shiraz);
  border-radius: 16px;
  display: flex;
  height: 31px;
  left: 1403px;
  position: absolute;
  top: 118px;
  width: 32px;
}

.onboard-menu-select-item-1 .symbol-96-7 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-bottom: 3.5px;
  margin-left: 4.8px;
  margin-right: 4.7px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .group-10-8 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 1406px;
  min-width: 71px;
  padding: 2.2px 10.5px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .group-10-9 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 1491px;
  min-width: 69px;
  padding: 2.2px 12.7px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .eurpeon-2 {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 43px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .path-25 {
  height: 15px;
  left: 1678px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 17px;
}

.onboard-menu-select-item-1 .group-10-10 {
  background-color: var(--absolute-zero);
  border-radius: 17.5px;
  display: flex;
  height: 35px;
  left: 1407px;
  position: absolute;
  top: 114px;
  width: 35px;
}

.onboard-menu-select-item-1 .arabic-mandi-1 {
  left: 1751px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10-11 {
  background-color: var(--shiraz);
  border-radius: 16px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  left: 1749px;
  position: absolute;
  top: 118px;
  width: 32px;
}

.onboard-menu-select-item-1 .symbol-96-8 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.5px;
  margin-right: 4.1px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .group-10-12 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 1752px;
  min-width: 56px;
  padding: 2.2px 11.4px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .group-10-13 {
  align-items: flex-end;
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 1820px;
  min-width: 64px;
  padding: 2.2px 13.1px;
  position: absolute;
  top: 226px;
}

.onboard-menu-select-item-1 .group-10-14 {
  align-items: flex-start;
  background-color: var(--absolute-zero);
  border-radius: 17.5px;
  display: flex;
  height: 35px;
  left: 1748px;
  min-width: 35px;
  padding: 7.4px 5.5px;
  position: absolute;
  top: 114px;
}

.onboard-menu-select-item-1 .path-31 {
  height: 15px;
  left: 2031px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 17px;
}

.onboard-menu-select-item-1 .recommended-for-you {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 20px;
  min-height: 33px;
  min-width: 286px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .scroll-group-3::-webkit-scrollbar {
  display: none;
  width: 0;
}

.onboard-menu-select-item-1 .scroll-group-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 0.04px;
  margin-top: 30px;
  min-width: 994px;
  overflow-x: scroll;
}

.onboard-menu-select-item-1 .overlap-group2-1 {
  height: 262px;
  left: 0;
  position: absolute;
  top: 0;
  width: 3088px;
}

.onboard-menu-select-item-1 .moussaka-2 {
  left: 19px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .x1 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.5px;
  margin-right: 4.2px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .path-26 {
  height: 17px;
  left: 291px;
  object-fit: cover;
  position: absolute;
  top: 167px;
  width: 18px;
}

.onboard-menu-select-item-1 .group-10088 {
  align-items: flex-start;
  background-color: var(--absolute-zero);
  border-radius: 17.5px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  left: 19px;
  min-width: 35px;
  padding: 7.3px 5.2px;
  position: absolute;
  top: 114px;
}

.onboard-menu-select-item-1 .capachino-2 {
  left: 365px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .x2 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-bottom: 3.5px;
  margin-left: 4.8px;
  margin-right: 4.7px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .eurpeon-3 {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 43px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .arabic-mandi-2 {
  left: 712px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .x3 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.5px;
  margin-right: 4.1px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .moussaka-3 {
  left: 1058px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .x4 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.5px;
  margin-right: 4.2px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .capachino-3 {
  left: 1405px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .x5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-bottom: 3.5px;
  margin-left: 4.8px;
  margin-right: 4.7px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .eurpeon-4 {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 43px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .arabic-mandi-3 {
  left: 1751px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .x6 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.5px;
  margin-right: 4.1px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .group-101 {
  background-color: var(--rhino-2);
  border-radius: 16px;
  display: flex;
  height: 24px;
  left: 151px;
  position: absolute;
  top: 226px;
  width: 86px;
}

.onboard-menu-select-item-1 .contains-nuts {
  flex: 1;
  height: 17px;
  letter-spacing: 0;
  line-height: 11px;
  margin-left: 12.5px;
  margin-right: 5.3px;
  margin-top: 5.0px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .path-32 {
  height: 17px;
  left: 2027px;
  object-fit: cover;
  position: absolute;
  top: 166px;
  width: 18px;
}

.onboard-menu-select-item-1 .special-meals {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 17px;
  min-height: 33px;
  min-width: 173px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .scroll-group-4::-webkit-scrollbar {
  display: none;
  width: 0;
}

.onboard-menu-select-item-1 .scroll-group-4 {
  align-items: flex-start;
  display: flex;
  margin-top: 27px;
  min-width: 1010px;
  overflow-x: scroll;
}

.onboard-menu-select-item-1 .moussaka-4 {
  left: 19px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .x7 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.5px;
  margin-right: 4.2px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .vegan-1 {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 32px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .group-10142 {
  background-color: var(--absolute-zero);
  border-radius: 17.5px;
  display: flex;
  height: 35px;
  left: 19px;
  position: absolute;
  top: 114px;
  width: 35px;
}

.onboard-menu-select-item-1 .vegan-2 {
  flex: 1;
  margin-bottom: 7.7px;
  margin-left: 7.1px;
  margin-right: 7.9px;
  margin-top: 7.3px;
  object-fit: cover;
  width: 20px;
}

.onboard-menu-select-item-1 .capachino-4 {
  left: 365px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .x8 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-bottom: 3.5px;
  margin-left: 4.8px;
  margin-right: 4.7px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .eurpeon-5 {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 43px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .arabic-mandi-4 {
  left: 712px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .x9 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.5px;
  margin-right: 4.1px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .moussaka-5 {
  left: 1058px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .x10 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.5px;
  margin-right: 4.2px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .capachino-5 {
  left: 1405px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .x11 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  margin-bottom: 3.5px;
  margin-left: 4.8px;
  margin-right: 4.7px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .eurpeon-6 {
  letter-spacing: 0;
  line-height: 11px;
  min-height: 17px;
  min-width: 43px;
  opacity: 0.8;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .arabic-mandi-5 {
  left: 1751px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .x12 {
  align-items: flex-end;
  display: flex;
  margin-bottom: 3.5px;
  margin-right: 4.1px;
  margin-top: 3.4px;
  width: 23px;
}

.onboard-menu-select-item-1 .path-33 {
  height: 15px;
  left: 2034px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 17px;
}

.onboard-menu-select-item-1 .line-43 {
  height: 2px;
  left: 198px;
  object-fit: cover;
  position: absolute;
  top: 1018px;
  width: 502px;
}

.onboard-menu-select-item-1 .path-container-7 {
  height: 19px;
  left: 43px;
  position: absolute;
  top: 146px;
  width: 19px;
}

.onboard-menu-select-item-1 .group-10193 {
  -webkit-backdrop-filter: blur(16.28px) brightness(115%);
  backdrop-filter: blur(16.28px) brightness(115%);
  border-radius: 19px;
  box-shadow: 0px 3px 20px #2e476517;
  cursor: pointer;
  height: 1069px;
  left: 0;
  position: absolute;
  top: 175px;
  width: 1024px;
}

.onboard-menu-select-item-1 .overlap-group14 {
  height: 548px;
  left: 314px;
  position: absolute;
  top: 349px;
  width: 1390px;
}

.onboard-menu-select-item-1 .overlap-group-9 {
  height: 548px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1390px;
}

.onboard-menu-select-item-1 .group-10195 {
  display: flex;
  height: 548px;
  left: 0;
  position: absolute;
  top: 0;
  width: 396px;
}

.onboard-menu-select-item-1 .group-10194 {
  background-color: var(--white);
  border-radius: 19px;
  box-shadow: 0px 3px 20px #2e476517;
  display: flex;
  flex: 1;
  margin-bottom: 0;
  margin-top: 0;
  width: 396px;
}

.onboard-menu-select-item-1 .sri-lankan-kiribath-1 {
  color: var(--rhino);
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: 39px;
  font-weight: 700;
  height: 54px;
  letter-spacing: 0;
  line-height: 39px;
  margin-left: 36px;
  margin-right: 25px;
  margin-top: 38.5px;
  white-space: nowrap;
}

.onboard-menu-select-item-1 .address-6 {
  left: 34px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 274px;
  width: 116px;
}

.onboard-menu-select-item-1 .allergen-free {
  left: 34px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 305px;
  width: 116px;
}

.onboard-menu-select-item-1 .non-veg-1 {
  left: 34px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 335px;
  width: 116px;
}

.onboard-menu-select-item-1 .mask-group-611 {
  height: 154px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 102px;
  width: 1355px;
}

.onboard-menu-select-item-1 .ellipse-158 {
  background-color: var(--periwinkle-gray);
  border-radius: 12.5px;
  cursor: pointer;
  height: 25px;
  left: 354px;
  position: absolute;
  top: 16px;
  width: 25px;
}

.onboard-menu-select-item-1 .ic_clear_24px {
  height: 14px;
  left: 360px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 14px;
}

.onboard-menu-select-item-1 .local-white-rice-with-chilli-paste {
  left: 35px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 374px;
  width: 329px;
}

.onboard-menu-select-item-1 .ingredients-rice {
  left: 35px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 406px;
  width: 329px;
}
